streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
google-genai
chromadb
sentence-transformers
huggingface_hub
python-dotenv
pydantic
numpy
requests
protobuf==5.29.5
